.Rproj.user
.Rhistory
.RData
.Ruserdata
/Strategic_Cost_Management/*
!/Strategic_Cost_Management/Spring2021/
/Strategic_Cost_Management/Spring2021/*
# Allow Spring 2021
!/Strategic_Cost_Management/Spring2021/reveal.js/
!/Strategic_Cost_Management/Spring2021/Lectures/
