.Rproj.user
.Rhistory
.RData
.Ruserdata
/Strategic_Cost_Management/*
# Allow Spring 2021
!/Strategic_Cost_Management/Spring2021/
## Protect Case studies
/Strategic_Cost_Management/Spring2021/Cases/*/*.pdf
/Strategic_Cost_Management/Spring2021/Cases/*/*.xls
