/**
 * CSS theme for Lectures at UCSD.
 */

@import "common.css";


/***********************
 * Background and Text Color
 ***********************/

.reveal-viewport {
  background: #182B49;
  background-color: #182B49; }

.reveal {
  color: #fff;
}

/**************************
* Slides headers
***************************/

.header-left {
    background-image: url("https://ucsd.edu/_resources/img/logo_UCSD_white.png");
}

/**************************
* Colors
***************************/

.col1 {
  color: red;
}

.col2{
  color: blue;
}

/* Tables Colors */

.reveal table {
  box-shadow: 0 0 40px 0 rgba(255,255,255,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(255,255,255,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(255,255,255,.15);
  -o-box-shadow: 0 0 40px 0 rgba(255,255,255,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(255,255,255,.15);
}

.reveal table thead{
  font-weight: bold;
  color: white;
  background: rgb(198, 146, 20);
}

.reveal td strong {
  /*color: #6E0078;*/
  text-decoration: none;
}

.reveal table tr.odd {
   background: rgba(198, 146, 20, .1);
 }
 .reveal table tr.even {
   background: rgba(198, 146, 20, .2);
 }

/* Control buttons and navigation color */

.reveal .slide-number {
  background-color: #182B49;
}

.reveal .controls button {
  color: #fff;
}

.reveal .progress {
  color: #fff; }
