/**
 * Common CSS theme for UCSD.
 */
/* Font for most of the text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
/* Font for the UCSD Rady Logo */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');


/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: normal;
}

.reveal .slides {
  margin: 0;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
  text-align: left;
  margin: 0;
  padding: 0;
}

.reveal .slides section .fragment {
  transition: all 1s ease;
}

.reveal .author {
  text-align: center;
}

.center-vertical {
  width: 100%;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
}

.center-horizontal {
  width: 100%;
  display: block;
  text-align: center;
}

.display .math {
  font-size: 80%;
}

/**************************
* Slides headers
***************************/

.header-left, .header-right, .footer-left {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-size: 1vw;
  font-weight: normal;
}

.header-left {
  width: 15%;
  height: 10%;
  top: 5%;
  left: 3%;
  background-size: 80%;
  background-repeat: no-repeat;
  padding-top: 3%;
  font-family: 'Hind', sans-serif;
  font-size: .96vw;
  font-weight: bold;
}

.header-right {
    position: absolute;
    top: 5%;
    right: 5%;
}

.footer-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-weight: lighter;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em;
  margin: 200px 0px 100px 0px;
}

.reveal h2 {
  font-size: 2.11em;
  margin: 300px 0px 50px 0px;
}

.reveal h3 {
  font-size: 1.55em;
  margin: 150px 0 50px 0;
}

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  padding: 0 0 0 50px;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold;
  text-decoration: underline;
}

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: None;
  margin: 0;
  padding: 0 0 0 50px;
  font-size: 90%;
}

.reveal ul ul {
  list-style-type: disc;
  font-size: 80%;
}

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal li {
  margin: 20px;
}

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  /*background: rgba(255, 255, 255, 0.05);*/
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 3px 5px;
  font-size: 70%;
}


.reveal table th,
.reveal table td {
  text-align: auto;
  padding: 0.2em 0.5em 0.2em 0.5em;
  /*border-bottom: 5px white solid;*/
  outline-offset: 20px;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }


.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * IMAGES
 *********************************************/
img {
  width: 100%;
  display: block;
}

.reveal section img {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .slide-number {
  background-color: #fff;
  color: black;
  right: 150px;
  bottom: 5%;
  font-family: inherit;
  font-size: 1vw;
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
