/**
 * CSS theme for Lectures at UCSD.
 */

@import "common.css";

/***********************
 * Background and Text Color
 ***********************/

.reveal-viewport {
  background: #fff;
  background-color: #fff; }

.reveal {
  color: #000;
}

/**************************
* Slides headers
***************************/

.header-left {
  background-image: url("https://ucsd.edu/_resources/img/logo_UCSD.png");
  color: #182B49;
}

/**************************
* Colors
***************************/

.col1 {
  color: red;
}

.col2{
  color: blue;
}

/* Tables Colors */
.reveal table th {
  font-weight: bold;
  color: white;
  background: #e68a00;
}

.reveal table tr.odd {
  background: #ffe0b3;
}
.reveal table tr.even {
  background: #ffebcc;
}

/* Control buttons and navigation color */

.reveal .controls button {
  color: #182B49;
}

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #182B49; }
